@page
@model ClientsCRUD.Pages.OurTeamModel
@{
    Layout = "_Finaz";
    ViewData["Title"] = "OurTeam";
}
<!-- Page Header Start
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Team Member</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Team Member</li>
            </ol>
        </nav>
    </div>
</div>
Page Header End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Team</p>
            <h1 class="display-5 mb-5">Our Team</h1>
        </div>
        <div class="row g-4">
                @{
                    foreach (var imageFile in Model.ImageFiles)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="team-item">
                                <img class="img-fluid rounded" src="@imageFile" alt="">
                                <div class="team-text">
                                    <h4 class="mb-0">@imageFile</h4>
                                    <div class="team-social d-flex">
                                        <a class="btn btn-square rounded-circle mx-1" href="">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="btn btn-square rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                        <a class="btn btn-square rounded-circle mx-1" href="">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>
    </div>
</div>
<!-- Team End -->
